# Python cache
__pycache__/
*.pyc

# Jupyter

# Conda/venv
.venv/
env/
.conda/

# Data (DO NOT COMMIT)
data/
*.csv
*.xlsx
*.parquet
*.pkl

# Outputs
outputs/
results/
figures/

# OS
.DS_Store
Thumbs.db

# Additional
rf_import.py
merton_df.py
nig_df.py
input_dfs.ipynb
nig_initialization.py